<html>
<head>
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/angular.min.js"></script>
	<script type="text/javascript" src="/javascripts/angular_controller.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"></link>
	<style type="text/css">
	.blogs{
		/*border: 1px solid green;*/
		margin-top: 85px;
		border-radius:20px; 
	}
	</style>
</head>
<body ng-app="myApp" style="background-color:#cecece;background-image:url(/images/sky.jpg);background-repeat:no-repeat;">
	<div ng-controller="blogs_controller" class="container-fluid col-md-12" >
	
		<div class="col-md-12 panel panel-default" >
			<div class="col-md-2">
				<input type="text" ng-model="search"></input>
			</div>

			<div class="col-md-2"><a href="javascript:void(0);" ng-click="order_with='name';sortOrder=!sortOrder" class="btn btn-default">Sort by Title</a></div>

			<div class="col-md-2"><a class="btn btn-default" href="javascript:void(0);" ng-click="order_with='created_at';sortOrder=!sortOrder">Sort by Date</a></div>

			<div class="col-md-3">
				<a href="/blogs/get_stats" class="btn btn-info">Blog stats</a>
			</div>

			<div class="col-md-3">
				<a href="/blogs/new_blog" class="btn btn-info">New Blog</a>
			</div>
		</div>
		
		<div class="col-md-12" style="height:1200px;overflow:auto;">
			<div class="blogs col-md-4"  style="height:200px;" ng-repeat="blog in blogs | filter : search | orderBy : order_with : sortOrder" id="blog_{{blog._id}}">
			
				<div class="col-md-12 panel panel-default">
					

					<div class="col-md-12 panel panel-default panel-heading" style="height:40px;">
						<h3 class="panel-title">{{blog.name}}</h3>
						<a href="javascript:void(0)" title="Delete this blog." style="float:right;margin-top:-18px;" ng-click="delete_blog(blog._id);" y="{{blog._id}}">X</a>
					</div>

					<div class="col-md-12 panel panel-default panel-body" style="height:135px;word-wrap:break-word;overflow:auto;">{{blog.description}}</div>

					<div class="col-md-12 panel panel-default panel-footer" style="height:25px;">
						<div class="col-md-6" style="height:25px;word-wrap:break-word;font-size:xx-small;">{{blog.created_at}}</div>
						<div class="col-md-6" style="height:25px;word-wrap:break-word;font-size:xx-small;">{{blog.updated_at}}</div>
					</div>

				</div>

			</div>
		</div>
		
	</div>
</body>
</html>