<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>


<div class="container-fluid">

	<div class="col-md-12" style="height:40px;">
	</div>

	<div class="col-md-12" style="height:200px;">

		<div class="col-md-6 col-md-offset-3">
		</div>

	</div>

	<div class="col-md-12" style="height:70px;">
	</div>

	<div class="col-md-12" style="height:400px;">

		<div class="col-md-4">
		</div>

		<div class="col-md-8">
		</div>

	</div>

	<div class="col-md-12" style="height:80px;">
	</div>

</div>
