<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>

  <nav class="navbar navbar-default">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="/blogs">BLOG</a></li>
             <li><a href="/blogs/new_blog" >New Blog</a></li>
                <li>  <a href="/blogs/angular" >View Blogs Angular</a></li>
                <li><a href="/blogs" >View Blogs</a></li>
                 <li class="active"><a href="/blogs/get_stats">Blog Stats</a></li>
                <li><a href="#">Blog Graph</a></li>
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  
                </ul>
              </li> -->
            </ul>
        </div>
    </nav>


<div class="container" >
	<!-- style="background-image: url('/images/blog.jpg');background-repeat: no-repeat" -->
<div class="col-md-6 col-md-offset-3" >
	<form action="/blogs/create_blog" method="post" >
  <div class="form-group">
    <label for="exampleInputEmail1">Name:</label>
    <input  class="form-control" id="exampleInputEmail1" placeholder="Blog name" type="text" name="blog">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Description</label>
    <textarea name="blog_description"  class="form-control" id="exampleInputPassword1" placeholder="Blog description" rows="15"></textarea>
  </div>
  <input type="submit" value="Blog" class="btn btn-success"></input>
  <a href="/blogs/list_all_blogs" class="btn btn-info">Cancel</a>
  <a href="/blogs/angular" class="btn btn-default">View Blogs</a>
</form>
</div>
<div>
  


</div>
</div>

