<html>

<body>
<h1><%=blog.name%></h1>



Description:
<div style="width:400px;">
<%=blog.description%>
</div>


<a href="/blogs/new_blog">New Blog</a>
<a href="/blogs/list_all_blogs">List Blogs</a>

</body>

</html>