<form action="/blogs/create_blog" method="post">

Name:
<input type="text" name="blog"></input>

</br>
Description:
<textarea name="blog_description"></textarea>

<input type="submit" value="Blog"></input>

</form>