

<div id="display_blog" class="col-md-12" style="word-wrap:break-word;height:450px;overflow:auto;">
<%=blog[00].description%>
</div>

<div class="col-md-12" id="blog_action">
	<input type="hidden" value="<%=blog[0]._id%>" id="h_blog"></input>
	<a href="javascript:void(0);" onclick="edit_blog();" id="edit_blog">Edit</a>
	<a href="javascript:void(0);" onclick="$('#blog_action').hide();$('#display_blog').empty();$('#h_blog').val('');">Close</a>

</div>