

<div id="display_blog" class="col-md-12" style="word-wrap:break-word;height:400px;overflow:auto;background-color:#eff7f4;">
<%=blog[0].description%>
</div>

<div class="col-md-6 col-md-offset-4" id="blog_action">
	<input type="hidden" value="<%=blog[0]._id%>" id="h_blog"></input>
	<a href="javascript:void(0);" onclick="edit_blog();" id="edit_blog" class="btn btn-primary btn-lg">Edit</a>
	<!-- <a href="javascript:void(0);" onclick="$('#blog_action').hide();$('#display_blog').empty();$('#h_blog').val('');display_first_blog();" class="btn btn-warning">Close</a> -->

</div>