<!DOCTYPE html>
<html>
	<head>
		<title>Blogs Stat</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"></link>
		<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/angular.min.js"></script>
		<script type="text/javascript" src="/javascripts/angular_controller.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
	</head>
	<body ng-app="myApp">

		<nav class="navbar navbar-default navbar-inverse">
			<% include /header.ejs %>
		</nav>

		<div class="container col-md-10 col-md-offset-1" ng-controller="stats_controller" >
			<table class="table table-bordered table-hover table-striped">
			 <thead class="thead-inverse">
				<th class="thead" ng-click="order_with='month';sortOrder=!sortOrder"><a href="javascript:void(0)">Month</a></th>
				<th ng-click="order_with='day';sortOrder=!sortOrder"><a href="javascript:void(0)">Day</a></th>
				<th ng-click="order_with='hour';sortOrder=!sortOrder"><a href="javascript:void(0)">Hour</a></th>
				<th>At min(s)</th>
				<th ng-click="order_with='total_blogs';sortOrder=!sortOrder"><a href="javascript:void(0)">Total blogs</a></th>
				</thead>
				<tr ng-repeat="stat in stats | orderBy : order_with : sortOrder">
				<td>{{stat._id.month}}</td>
				<td>{{stat._id.day}}</td>
				<td>{{stat._id.hour}}</td>
				<td>{{stat.min}}</td>
				<td>{{stat.total_blogs}}</td>
				</tr>
			</table>
		</div>
	</body>
</html>